
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* share style */
 .display_flex{
  display: flex;
 }
/* nav style */
.navbar{
  
  justify-content: space-between;
  align-items: center;
 
  
}
.brand{
  font-size: 3rem;
  font-weight: bold;
}
.nav_items{
  margin-right: 40px;
  
  
}
.nav_items{
  list-style: none;
  
}
nav ul li a{
  text-decoration: none;
}
/* color dark2 */
.text_gray{
  color: #424242;

}

.text_light_gray{
  color: #727272;
}
.bg_light{
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* button style */
.btn_primary{
 color: white;
max-width: 180px;
padding: 21px 25px 20px;
background-color:#FF900E ;
border-radius: 8px;
font-size: 1.25rem;
border: none;
}
/* banner style */
.banner_tittle{
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
}
.banner_description{
  font-size: 1rem;
  color: #727272;
}
.banner_content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner_image{
  width: 100%;
}
/* Responsive Media Query */
