
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* share style */
 .display_flex{
  display: flex;
 }
 main{
  max-width: 1440px;
  margin: 0 auto;
 }
/* nav style */
.navbar{
  
  justify-content: space-between;
  align-items: center;
 
  
}
.brand{
  font-size: 3rem;
  font-weight: bold;
}
.nav_items{
  margin-right: 40px;
  
  
}
.nav_items{
  list-style: none;
  
}
nav ul li a{
  text-decoration: none;
}
/* color dark2 */
.text_gray{
  color: #424242;

}

.text_light_gray{
  color: #727272;
}
.bg_light{
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* button style */
.btn_primary{
 color: white;
max-width: 180px;
padding: 21px 25px 20px;
background-color:#FF900E ;
border-radius: 8px;
font-size: 1.25rem;
border: none;
}
/* banner style */
.banner_tittle{
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
}
.banner_description{
  font-size: 1rem;
  color: #727272;
}
.banner_content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner_image{
  width: 100%;
}
/* teams styles */
.teams{
gap: 10px;
align-items: center;
}
.features_tittle{
  font-size: 2.8rem;
}
.features_description{
  font-size: 1rem;
  color: #727272;
}
.team_image_container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
  margin-top: 85px;
  margin-left: 301px;
  border-radius: 8px;
}
.our_features{
  
  margin-left: 70px;
  max-width: 530px;
   
}

#quick{
  color:#727272 ;
}
.our{
  color:#131313 ;
}
.features{
  color: #FF900E;
}
.facts{
  align-items: center;
}
/* facs style */
.facts_container{
  
  gap: 40px;
}
.fact_items{
border: 2px solid #FF900E;
width: 242px;
height: 120px;
padding: 45px 35px 60px;
border-radius: 8px;
/* align-items: center;
justify-content: center; */
text-align: center;
}
.items_number{
  font-size: 1.8rem;
  margin-top: 5px;
  margin-bottom: 10px;
}
.items_tittle{
  font-size: 1rem;
  margin-top: 10px;

}
.sponsor_info{
  max-width: 540px;
  margin: 50px auto;
}
.sponsor_company{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.sponsor_company img{
filter: grayscale(100%);
}
.card_tittle{
  font-weight: 600px;
  font-size: 1.25rem;
  margin-top: 0px;
  bottom: 0px;

}
.features{
  gap: 146px;
  color: #131313;
  margin-top: 130px;
}
.features_card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06) ;
  margin-bottom: 20px;
  border-radius: 8px;
}
#experience_badge{
  padding: 45px 42px;
  margin-left: -100px;
  margin-top: -100px;
}

footer{
  max-width: 1440px;
  /* height: 100px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
   border-radius: 8px;
  background-color: #FFF4E7;
  margin-top: 130px;
   
}


/* Responsive Media Query for mobile */
@media screen and (max-width:576px) {
 .navbar,.nav_link,.teams,.features,.facts,.facts_container,.sponsor_company {
  flex-direction: column;
  }
  .team_image_container{
    grid-template-columns:repeat(1,1fr)
     ;
     margin-left: -20px;
  }
  .features img{
    width: 100%;
    margin: 0 auto;
  }
  #experience_badge{
   display: grid;
   grid-template-columns: repeat(1,1fr);
   
   margin-left: 120px;
   margin-top: -40px;
  
  
  }
  .sponsor_tittle{
    margin-left: 50px;
  }
  .sponsor_company{
  grid-template-columns: repeat(1,1fr);
  gap: 15px;
  display: flex;
  align-items: center;
  }
  footer{
    margin-left: 20px;
  }
  .facts{
    display: flex;
    align-items: center;
  }
    
  
}
